<!DOCTYPE html>
<html>
<head>
  <title>Carmary</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
    <div class="navbar-inner">
    <div class="container">
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>

	    <a class="brand" href="#">
	    	Soporte tecnológico Carmary
	    </a>
	    <div class="nav-collapse">
	    	<ul class="nav">
				<!-- <li class="active"><a href="">Computadores</a></li> -->
				<li><%=link_to "Computadores", computers_path %></li>
				<li><%=link_to "Periféricos", perifericos_path %></li>
				
				<li><a href="">Equipos de red</a></li>
				<li><a href="">Impresión</a></li>
			</ul>
		</div>
    </div>
    </div>
    </div>



    <div class="container">
    <div class="row">
	    <div class="span9">
	    <%= yield %>
	    </div>
	    <div class="3">
	    	<h2>Revisión regular</h2>
	    </div>
    </div>
    </div>


</body>
</html>
